<h2> Colors </h2>

  <div class="color-wrap">
     <ul class="flex">
        <% colorList.forEach((oneColor) => { %>
          <li>
            <div class="colorBox" style= "background-color: <%= oneColor.hex %>"
             ></div>

            <div>
              <p class="key"> Color: <b><%= oneColor.keyword %></b> </p>
            </div>

            <div>
              <p class="key"> Hex: <b><%= oneColor.hex %></b> </p>
            </div>
          </li>
        <% }) %>
      </ul>
  </div>
